
:root {
   --main-color: #1E212C;
   --primary-color: #FF5A30;
   --secondary-color: #787A80;
   --light-color: #FFFFFF;
   --table-color: #424551;
   --not-active-color: #9A9CA5;
   --border-color: #E5E8ED;
   --border-secondary-color: #D7DADD;
   --orange-red-hover: #ff4500;
   --green-hover: #2e8b57;
   --light-opacity-color:rgba(255, 255, 255, .6);
   --primary-opacity-color: rgba(255, 90, 48, .7);
   --danger-color: #dc143c;

   --primary-bg: #F4F5F6;
   --secondary-bg: #1E212C;

   --transition-duration: .2s ease;
 }




